[Unit]
Description=kafka
After=network.target

[Service]
User=nobody
Group=nobody
Type=simple
Environment=JAVA_HOME=/usr/local/jdk
ExecStart=/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server.properties

[Install]
WantedBy=multi-user.target
